:root {
  --main-bg-color: #ffffff;
  font-family: system-ui;
  max-width: 500px;
  margin: 0 auto;
}

header {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  .theme-toggle {
    cursor: pointer;
    border: none;
    background-color: var(--main-bg-color);
    font-size: 2rem;
  }
}

main {
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 25px;
  input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
  }
  div {
    padding: 5px;
  }
}
/* 
main input {
  } */

form {
}
