/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}

body {
  margin: 1rem;
  padding: 0;
}

a {
  color: rgb(0, 102, 204); /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}
