/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5vh;
  padding-bottom: 0.5vh;
  border-bottom: 0.1rem solid black;
  display: inline-block;
}

nav {
  margin-bottom: 3vh;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0.5rem 0;
  }
  a {
    color: #0066cc;
    text-decoration: none;
    font-size: 1.4rem;

    &:hover {
      text-decoration: underline; /* podkreślenie przy najechaniu */
    }

    &::before {
      content: '»';
      margin-right: 0.5rem;
      color: #888;
    }

    &::after {
      content: '«';
      margin-left: 0.5rem;
      color: #888;
      pointer-events: none;
    }
  }
}

#back {
  display: inline-block;
  border-top: 0.1rem solid grey;
  font-size: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5vh;
}
