body {
  font-family: system-ui;
  text-align: center;
  margin: 30px;
}
.controls {
  margin-bottom: 12px;
}
button {
  margin: 4px;
  padding: 12px;
  min-width: 150px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #e2cb4a;
  color: black;
  font-weight: bold;
}

button:hover {
  background: #cba335;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

.counters {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.board {
  margin: 12px auto;
  max-width: 750px;
  min-height: 160px;
  border: 2px dashed #ccc;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}
.shape {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  border: 3px solid black;
}
.shape:hover {
  transform: scale(1.1);
}
.shape[data-type='square'] {
  border-radius: 6px;
}
.shape[data-type='circle'] {
  border-radius: 50%;
}

header,
footer {
  background: #f5f7fa;
  padding: 16px 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  color: #333;
  font-weight: 600;
}
